<%= form_for :attachments, :url => attachments_new_path do |f| %>
    ...
    <div class="field">
      <%= f.label :attachments %><br>
      <%= f.file_field :attachments %>
      <br>
      <%= f.submit%>
    </div>
<% end %>