/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
html, body, .row-offcanvas {
    /*height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    background-repeat: round;
    overflow-x: hidden;*/
    height:100%;
    background-color: #ededed;
}

/* Div lateral */
#rightHeader {
    width: 80%;
    height: inherit;
    position: absolute;
    margin-top: 10px;
    margin-left: 18%;
}

/* Menu */
.leftMenu {
    /*
    height: 100%; /* 100% Full-height */
    /*width: 18%;
    position: fixed; /* Fica no lugar */
    /* z-index: 1; /* Fica no topo */
    /*top: 0;
    left: 0;
    background-color: #428BCA;
    overflow-x: hidden; /* Desabilita o scroll horizontal*/
    box-shadow: 2px 1px 0px #888;
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color:#428BCA;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

/* Links do Menu */
.leftMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff9f2;
    display: block;
    transition: 0.3s;
    font-style: normal;
    width: 100%;
    font-weight: bold;
}

/* Altera a cor ao passar o mouse */
.leftMenu a:hover, .offcanvas a:focus{
    color: #ffffff;
    background-color: #bfbab8;
}

/* Logotipo */
#logo img {
    height: 100%;
    width: 100%;
}

/* Login */
#loginForm{
    /*width:40%;*/
    margin-top: 2%;
    margin-left: 30%;
    min-width: 350px;
    max-width: 350px;
}

/* Index Text */
#public{
    text-align: center;
}

/* Listagem */
#list{
}

.filterable {
    margin-left: 15px;
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
