<div class="jumbotron">
<h2>Bem-vindo, <%= current_user.email %>! </h2>
</div>
<div class="text-center">
<%= link_to " Encomendas em andamento", listar_path, :class => "btn btn-primary btn-lg margin-left glyphicon glyphicon-list" %>
  <%  @profile = current_user.profile
    if @profile.account_type == 1 %>
  <%= link_to " Criar nova encomenda", criar_path, :class => "btn btn-success btn-lg margin-left glyphicon glyphicon-plus" %>
      <% end %>
</div>
