<div class="jumbotron">
<h2>Bem-vindo! </h2>
  </br></br></br></br>
  <%= link_to " Criar nova encomenda", criar_path, :class => "btn btn-primary btn-lg margin-left glyphicon glyphicon-plus" %>
  <%= link_to " Encomendas em andamento", listar_path, :class => "btn btn-primary btn-lg margin-left glyphicon glyphicon-list" %>
  <%= link_to " Encomendas finalizadas", listar_path, :class => "btn btn-primary btn-lg margin-left glyphicon glyphicon-ok" %>
</div>
