<div class="jumbotron">
<h2>Bem-vindo, <%= @account.name %></h2>
  </br></br></br></br>
  <button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true margin-left"></span> Criar nova encomenda</button>
  <button type="button" class="btn btn-primary btn-lg margin-left">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Encomendas em andamento</button>
  <button type="button" class="btn btn-primary btn-lg margin-left">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Encomendas finalizadas</button>
</div>
