<div id="container" >
  
  <div class="col-md-5 " style="margin-top: 10px;">
    <div  class="panel panel-primary" >
      <div class="panel-heading">Formulário de Contactos</div>
      <div class="panel-body" style="margin: 15px;">
    <div class="form-horizontal" method="POST" action="">

      <div class="form-group">
        <label for="nome" class="col-2 col-form-label">Nome</label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="Insira seu nome" name="name" maxlength="50">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-2 col-form-label">Telefone</label>
        <div class="col-10">
          <input class="form-control" type="email" placeholder="" name="telefone" >
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input class="form-control" type="email" placeholder="example@example.com" name="email" required minlength="5">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-2 col-form-label">Mensagem</label>
        <div class="col-10">
          <input class="form-control" type="textarea" placeholder="Insira sua mensagem aqui" name="msg" style="height: 100px; ">
        </div>
      </div>

      <div class="form-group text-center">
        <div class="col-10">
          <input type="submit" class="btn btn-success" value="Enviar" name="submit">
          <input type="button" class="btn btn-warning" value="Apagar" name="submit">
          <a href="#"><input type="button" class="btn btn-danger" value="Cancelar" name="submit"></a>

        </div>
      </div>

    </div>
    </form>
  </div>
  </div>
</div>

  <div class="col-md-7 text-center panel panel-default" style="margin-top: 10px;">
    <h1>Contactos</h1>
    <div class="text-center panel-body">
      <div class="col-md-4 text-center"><span class="glyphicon glyphicon-home"></span><p><b>Morada:</b></p>
      <p>RUA SANTA MARIA, 437</p>
      <p> BARROSAS</p>
      <p>4650-139 IDÃES FLG</p></div>
      <div class="col-md-4 text-center"><span class="glyphicon glyphicon-phone-alt"></span><p><b>Telefone:</b></p><p> +351 255 312 443</p>
        <p><b>Fax:</b> +351 255 312 444</p></div>
      <span class="glyphicon glyphicon-envelope"></span><p><b> E-mail:</b></p><p> geral@joiadaeuropa.com</p>
    </div>
  </div>

  <div class="col-md-7" >
    <h2 class="text-center">Mapa de Localização</h2>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d2735.0695730291745!2d-8.269489847213876!3d41.33500590753139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d41.335084699999996!2d-8.266192499999999!4m3!3m2!1d41.3350906!2d-8.266178199999999!5e1!3m2!1spt-PT!2spt!4v1449317337436" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe></p>
  </div>


</div>