<div class="jumbotrom text-center">
      <div >
        <p><h1>Bem-vindo &agrave; <strong><span style="color: #223a80;">Joia</span> da Europa</strong></h1>
        <h4>A <strong>Joia da Europa</strong> &eacute; uma empresa que se dedica inteiramente &agrave; fabrica&ccedil;&atilde;o
          de <strong>cal&ccedil;ado de qualilidade e conforto</strong>. Se procura qualidade, inova&ccedil;&atilde;o,
          transforma&ccedil;&atilde;o, diferencia&ccedil;&atilde;o de produtos, venha conhecer a nossa empresa, porque
          aqui encontra tudo o que precisa.</h4></p>
        <div id="logo"><img src="<%= asset_path 'main.jpg' %>"></div>
      </div>
</div>
