<div class="container">


	<div class="row">
		<div class="col-md-3"></div>

		<div class="col-md-6">
			<h1>Bem-vindo à Joia da Europa</h1>
			<p>A Joia da Europa é uma empresa que se dedica inteiramente à fabricação de calçado de qualilidade e conforto. Se procura qualidade, inovação, transformação, diferenciação de produtos, venha conhecer a nossa empresa, porque aqui encontra tudo o que precisa.</p>
		</div>
		<div class="col-md-3"></div>

	</div>

</div>
